body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}
header{
	width: auto;
  	min-height: 100vh;
  	background-image: linear-gradient(340deg, #ff5353, #ffb689);
  	padding-bottom: 30px;
}
.logo{
	float: left;
}
.logo img{
	padding:21px 0 0 120px;
	height: 48px;
	width: 48px;
}
nav{
	height: 85px;
}
.nav-list{
	float: right;
}
.nav-list ul{
	padding:  29px 139px 0 0;
	margin-top: 0;
} 
.nav-list ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 0;
}
.nav-list ul li a{
	text-decoration: none;
	padding:7px 18px 9px 20px;
	font-size: 16px;
	color: #fff;
	transition: 0.5s;
}
.nav-list ul li a:hover{
	border:1px solid #fff;
	border-radius: 13.5px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f78264;
}
.creative{
	text-align: center;
	color: #fff;
}
.creative button{
	width: 180px;
  	height: 48px;
  	color: #fff;
  	font-size: 18px;
  	border-radius: 4px;
  	background-color: transparent;
  	border: solid 1px #ffffff;
  	transition: .6s;
}
.creative button:hover{
	background-color: #fff;
	color: #fd8a6d;
	cursor: pointer;
}
.creative h2{
	text-transform: uppercase;
	font-size: 36px;
  	font-weight: 300;
  	margin-top: 150px;
  	margin-bottom: 29px;
}
.creative h1{
	text-transform: uppercase;
	font-size: 72px;
  	font-weight: bold;
  	margin-top:0;
  	margin-bottom: 59px;
}
.mouse img{

	display: block;
	margin: 0 auto;
	margin-top: 15vh;
}
.about-us{
	background-image: url(../images/background-image.png);
	background-attachment: fixed;
	height: 698px;
	width: 100%;
	margin-top: 0px;
	text-align:center;
	color: #fff;
}
.about-us h2{
	margin: 0px;
	padding-top:163px; 
	font-size: 30px;
  	font-weight: 300;
  	text-transform: uppercase;
}
.about-us h1{
	width: 732px;
	height: 103px;
	font-size: 48px;
	padding-top: 20px;
	margin: 0 auto;
}
.about-us p{
	width: 615px;
  	height: 96px;
  	padding-top: 29px;
  	font-size: 18px;
  	line-height: 1.44;
  	margin: 0 auto;
}
.about-us button{
	width: 180px;
  	height: 48px;
  	color: #fff;
  	font-size: 18px;
  	border-radius: 4px;
  	margin-top: 80px;
  	background-color: transparent;
  	border: solid 1px #ffffff;
  	transition: .7s;
}
.about-us button:hover{
	background-color: #fff;
	color: #000;
	cursor: pointer;
}


/*Grid system*/
.row{
	display: flex;
	flex-wrap: wrap;
}
.col-2{
	flex: 0 0 50%;
	max-width: 50%;
}
.col-3{
	flex: 0 0 33.33%;
	max-width: 33.33%;
}


.tea-cup{
	background-image: url(../images/group-1.png);
	height: 754px;
	width: 100%;
	background-size: cover;
	position: relative;
}
.tea-cup:hover .icon-list{
	display: block;
}
.icon-list{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;
}
.icon-list i{
	padding: 20px;
}
.facebook{
	color: #fff;
}
.instagram{
	color: #fff;
}
.twitter{
	color: #fff;
}
.youtube{
	color: #fff;
}
.facebook:hover{
	color: #3B5CA0;
}
.instagram:hover{
	color: #fb3958;
}
.twitter:hover{
	color: #429CD6;
}
.youtube:hover{
	color: #FF0000;
}
.services-heading{
	padding: 69px 0 0 119px;
}
.services-heading h2{
	width: 201px;
  	height: 22px;
  	font-size: 30px;
  	font-weight: 300;
  	line-height: 0.87;
  	text-transform: uppercase;
	color: #444444;
}
.specialize{
	width: 428px;
  	height: 44px;
  	font-size: 18px;
  	font-weight: normal;
  	line-height: 1.44;
  	margin-top: 33px;
  	color: #777777;
}
.services-detail img{
	height: 39px;
	width: 46px;
	margin-top: 36px;
}
.services-detail h3 a{
	text-transform: uppercase;
	width: 185px;
  	height: 13px;
  	font-size: 18px;
  	font-weight: bold;
  	line-height: 1.33;
  	color: #777777;
  	text-decoration: none;
}
.services-detail p{
	width: 176px;
  	height: 74px;
  	font-size: 14px;
  	font-weight: normal;
  	margin-right: 76px;
  	margin-bottom: 57px;
  	line-height: 1.43;
  	color: #aaaaaa;
}
.contact{
	height: 698px;
	width: 100%;
  	background-color: #ff7966;
  	position: relative;
}
form input{
	display: block;
	margin: 0 auto 10px ;
	width: 412px;
  	height: 52px;
  	border:none;
  	border-radius: 4px;
  	background-color: #ffffff;

  	font-size: 16px;
  	font-weight: 300;
  	text-align: left;
  	font-family: Roboto;
  	color: #333;
  	padding-left: 10px;

}
::placeholder{
  	font-size: 16px;
  	font-weight: 300;
  	text-align: left;
  	font-family: Roboto;
  	color: #aaaaaa;
  	padding:0;
}
form textarea{
	display: block;
	margin: 0 auto 10px ;
	width: 400px;
  	height: 172px;
  	border:none;
  	border-radius: 4px;
  	background-color: #ffffff;
  	font-size: 16px;
  	font-weight: 300;
  	text-align: left;
  	font-family: Roboto;
  	color: #333;
  	padding: 20px 0 0 10px;
}
.contact .row{
	margin: 0 18%;
}
#fbutton{
	width: 140px;
 	height: 48px;
  	border-radius: 4px;
  	color: #fff;
  	background-color: #ff7966;
  	border: solid 1px #ffffff;
  	text-align: center;
  	top: 86%;
  	left: 39.5%;
  	position: absolute;
  	transform: translate(-50%,-50%);
  	transition: .7s;
}
#fbutton:hover{
	color: #000;
	background-color: #fff;
	cursor: pointer;
}
#fmessage{
	width: 413px;
  	height: 172px;
  	border-radius: 4px;
  	background-color: #ffffff;
}
.contact h2{
  	font-size: 30px;
  	font-weight: 300;
  	line-height: 0.87;
  	text-align: center;
  	color: #ffffff;
  	text-transform: uppercase;
  	padding-top: 97px;
  	padding-bottom: 45px;
  	margin: 0;
}
.contact-list li{
	list-style: none;
	text-transform: uppercase;
 	font-size: 14px;
  	font-weight: bold;
  	color: #ffffff;

}
.contact-list li img{
	margin: 0 0 0 -38px;
	padding-right: 14px;
	vertical-align: bottom;
}
.contact-list p{
	font-size: 16px;
  	font-weight: normal;
  	line-height: 1.63;
  	color: #ffffff;
  	margin-top: -2px;
}

/*responsive*/
@media(max-width: 1024px){
	.col-3{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.contact{
		height: 800px;
		width: 100%;
		position: relative;
	}
	form input{
	width: 300px;
	}
	#fmessage{
	width: 300px;
  	height: 172px;
	}
	#fbutton{
	position: absolute;
	width: 140px;
 	height: 48px;
 	top: 95%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 	}
 	.services-heading{
		padding: 0;
		text-align: center;
	}
	.services-heading p{
		margin: 15px auto 40px;
		text-align: left;
	}
	.services-heading h2,  h3{
		margin: 20px auto;
		text-align: center;
	}
	.col-2{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.specialize{
		width: 235px;
		padding-bottom: 30px;
	}
}
/*responsive*/
@media (max-width: 767px){
 	.nav-list{
		float: none;
	}
	.logo {
		float: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.logo img{
		padding: 21px 0;
	}
	.nav-list ul{
		padding: 20px 0 0 0;
	}
	.nav-list ul li{
		display: block;
		text-align: center;
	}
	.creative h2{
		margin-top: 275px;
	}
	header{
		height: 900px;
	}
}
/*responsive*/
@media (max-width: 750px){
	.about-us h1{
		width: 320px;
		font-size: 35px
	}
	.about-us p{
		width: 320px;
	}
	.about-us button{
		margin-top: 120px;
	}
}
/*responsive*/
@media (max-width: 320px){
	.creative h1{
		font-size: 60px;
	}
}